#Menu
  background: #FAF1E8
  width: 100vw
  height: 100vh
  overflow: hidden

#Navigation
  display: flex
  flex-direction: column
  justify-content: space-evenly
  #MenuLogo
    text-align: center
  @include md
    flex-direction: row

#MenuList
  list-style: none
  display: flex
  flex-direction: column
  writing-mode: vertical-lr
  font-size: 2rem
  padding: 5%
  @include sm
    font-size: 3rem
    margin-left: 10%
    padding: 0
    .item
      width: 32%
      position: relative
      top: -36%
      z-index: 0
      li
        z-index: 1
        line-height: 1.5
        padding-left: 28px
        a
          margin-top: 108px 
      &::before
        content: ''
        width: 40%
        height: 100vh
        position: absolute
        right: 28px
        z-index: -1
  @include lg
    margin-left: 12% 
    font-size: 4rem

a
  text-decoration: none
  color: #000


.item:nth-of-type(odd)::before
  content: ''
  background: $pink

.item:nth-of-type(even)::before
  content: ''
  background: $blue