#Section_01
  height: calc(100vh - 50px)
  .swiper
    height: 100%
  .swipwe-section
    margin: auto
    width: 100%
    height: 100%
    padding-top: 10% 
    position: relative
    z-index: 1
    .swipwe-img
      width: 82%
      height: 450px
      object-fit: cover
  .swiper-slide:nth-of-type(odd)
    .swipwe-section::before
      content: ''
      position: absolute
      width: 82%
      height: 450px
      top: 68px
      left: 24px
      z-index: -1
      background: $blue 
  .swiper-slide:nth-of-type(even)
    .swipwe-section::before
      content: ''
      position: absolute
      width: 82%
      height: 450px
      top: 68px
      left: 24px
      z-index: -1
      background: $pink 
  h5
    margin: 0
  .scorll-btn
    position: absolute
    z-index: 10
    bottom: 24px
    left: 50%
    transform: translateX(-50%)
    background: transparent
    border-radius: 50px
    font-size: 12px
  .q-icon
    font-size: 12px 
  @include md
    .swipwe-section::before
      top: 75px
      left: 30px
  @include lg
    .swipwe-img
      height: 500px
    .swipwe-section::before
      top: 90px
      left: 45px
      height: 500px
  .swiper
    width: 77%
    position: absolute
    right: 0


.swiper-slide
  margin-left: 100px !important